/* Reset & Centering. */
body {
    width: 100vw; height: 100vh;
    margin: 0; padding: 0;
    
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

/* Grid. */
.elements {
    display: grid;

    grid-template-columns: repeat(18, auto);
    grid-template-rows: repeat(9, auto);
    grid-gap: 5px;
    
    margin: 0 auto;
}

/* Sizing & Font. */
.element {
    width: 55px; height: 55px;
    
    text-align: center; line-height: 55px;
    
    font-family: "Heebo", sans-serif;
    font-size: 18px;
}

/* Positioning */
.helium { grid-column-start: 18; }
.boron { grid-column-start: 13; }
.aluminum { grid-column-start: 13; }
.lanthanide { grid-row-start: 8; position: relative; left: 120px; }
.actinide { grid-row-start: 9; position: relative; left: 120px; }

/* Coloring */
.alkali-metal { background: #F44336; }
.alkaline-earth-metal { background: #FF9800; }
.transition-metal { background: #FFEB3B }
.metal { background: #8BC34A; }
.metalloid { background: #4CAF50; }
.nonmetal { background: #00BCD4; }
.noble-gas { background: #9C27B0; }
.halogen { background: #3F51B5; }
.chalcogen { background: #03A9F4; }
.lanthanide { background: #009688; }
.actinide { background: #607D8B; }