<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>Test</title>

        <link href="https://fonts.googleapis.com/css?family=Heebo&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="static/index.css">
    </head>

    <body>
        <div class="elements">
            {% for element in elements %}            
            <div class="element {{ element.name }} {{ element.series }}">
                <span>{{ element.symbol.capitalize() }}</span>
            </div>
            {% endfor %}
        </div>
    </body>

    <script src="static/index.js"></script>
</html>